@font-face {
    font-family: Monogram;
    src: url('Assets/Fonts/monogram-extended.ttf');
}

html, body { 
    background: #000;
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_viewport{
    position: absolute;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}